* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0 auto;
    width: 70%;

}

header {
    background: url("img/pattern.png");
    background-color: #4EA0FF;
    display: flex;
    align-items: center;
    height: 220px;
}

#logo {
    height: 60%;
}

h1 {
    font-size: 135px;
}

h4 {
    color: #898D98;
    font-size: 58px;
    margin-top: 50px;
    font-family: Arial, sans-serif;
}


#crediti {
    font-size: 60px;
    color: #9E9087;
}

#tim-1,
#tim-2 {
    width: 49%;
    height: 1480px;
    margin-right: 10px;
}


#monitor-pic {
    height: 600px;
    margin-top: 20px;
}

#descrizione-foto {
    font-size: 45px;
}

#argomento-1,
#argomento-2 {
    font-size: 58px;
    margin-top: 50px;
    font-family: Arial, sans-serif;
}

#lista-1 {
    padding-left: 64px;
    font-size: 55px;
    margin-top: 50px;
    font-family: Arial, sans-serif;
}

#tabella-1 {
    margin-top: 50px;
    text-align: left;
    font-size: 55px;
    width: 100%;
}

#intestazione-tabella {
    background-color: #20A9E5;
    height: 90px;
    color: white;
}

.p25 {
    width: 25%;
}

.p50 {
    width: 50%;
}

#table-row-1,
#table-row-3 {
    background-color: #B1E5F2;
}


.graph-pic {
    margin-top: 35px;
    height: 600px;
    background: url("img/graph.jpg");
    width: 900px;
    background-size: cover;
    padding: 20px 0 0 20px;
}

.monitor-pic {
    margin-top: 50px;
    height: 600px;
    background: url("img/monitor.jpg");
    width: 900px;
    background-size: cover;
    padding: 20px 0 0 20px;
}

.graph-pic p {
    font-size: 80px;
    color: white;
}

.monitor-pic p {
    font-size: 80px;
    color: white;
}