* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0 auto;
    width: 70%;

}

header {
    background: url("img/pattern.png");
    background-color: #4EA0FF;
    display: flex;
    align-items: center;
    height: 220px;
}

#logo {
    height: 60%;

}

h1 {
    font-size: 135px;
}

#crediti {
    font-size: 60px;
    color: #9E9087;
}